<!DOCTYPE html>
<html ng-app="codepuppy">
<head>
<title>Namepending</title>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css' %>
<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.min.css' %>
<%= csrf_meta_tags %>
</head>
<body ng-controller="RootCtrl">

<div id='header'>
  <a href='/'>
    <img id='logo' src='/assets/codepuppy.png' />
  </a>
  <div class='user_pane'>
    <img class='person' id='active_user' src='/assets/omar.jpg' />
    <span class='user_name'>odiab</span>
    <a href='#'>Logout</a>
  </div>
</div>

<div id='nav_pane'>
  <!-- Course -->
  <div class='nav_hdr'>
    <span>Courses</span>
  </div>
  <div class='nav courses'>
    <ul class='nav_list'>
      <li ng-repeat="i in courses" class='course'
        ng-class="{selected: i == selectedCourse, hidden: selectedCourse != null && selectedCourse != i}">
        <a href="#{{i}}">{{i}}</a>
      </li>
    </ul>
  </div>

  <!-- Assignments -->
  <div class='nav assignments' ng-if="selectedCourse !== null">
  <div class='nav_hdr'>
    <span>Assignment</span>
  </div>
  <ul class='nav_list'>
    <li ng-repeat="j in assignments"
      ng-class="{selected: j == selectedAssignment, hidden: selectedAssignment != null && selectedAssignment != j}">
      <a href="#{{selectedCourse}}/{{j}}">{{j}}</a>
    </li>
  </ul>
  </div>

  <!-- Submissions -->
  <div class='nav submissions' ng-if="selectedAssignment !== null">
  <div class='nav_hdr'>
    <span>Submissions</span>
  </div>
  <ul class='nav_list'>
    <li ng-repeat="k in submissions"
      ng-class="{selected: k == selectedSubmission, hidden: selectedSubmission != null && selectedSubmission != k}">
      <a href="#{{selectedCourse}}/{{selectedAssignment}}/{{k}}">{{k}}</a>
    </li>
  </ul>
  </div>
</div>

<div id='content_wrapper'>
  <div id='content' ng-view>
  <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'http://code.jquery.com/jquery-1.11.0.min.js' %>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js' %>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js' %>
<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js' %>
<%- # TODO: include language-specific syntax highlighting brushes dynamically in angular service %>
<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCpp.min.js' %>
<%= javascript_include_tag 'application' %>
</body>
</html>
