<!DOCTYPE html>
<html ng-app="codepuppy">
<head>
<title>Codepuppy</title>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= stylesheet_link_tag 'app', media: 'all' %>
<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css' %>
<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.min.css' %>
<%= csrf_meta_tags %>
</head>
<body>


<div ng-view class="page">
</div>

<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js' %>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js' %>
<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js' %>
<%- # TODO: include language-specific syntax highlighting brushes dynamically in angular service %>
<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJava.min.js' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'app' %>
</body>
</html>
