<!DOCTYPE html>
<html ng-app="codepuppy">
<head>
<title>Codepuppy</title>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= stylesheet_link_tag 'app', media: 'all' %>
<%= csrf_meta_tags %>
</head>
<body>


<div ng-view class="page">
</div>

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'app' %>
</body>
</html>
