<!DOCTYPE html>
<html ng-app="codepuppy">
<head>
<title>Namepending</title>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css' %>
<%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.min.css' %>
<%= csrf_meta_tags %>
</head>
<body ng-controller="RootCtrl">

<hr/>

<!-- Course -->
<p>COURSES:</p>
<ul>
  <li ng-repeat="i in courses"
    ng-class="{selected: i == selectedCourse, hidden: selectedCourse != null && selectedCourse != i}">
    <a href="#{{i}}">{{i}}</a>
  </li>
</ul>

<!-- Assignments -->
<div ng-if="selectedCourse !== null">
<p>ASSIGNMENTS:</p>
<ul>
  <li ng-repeat="j in assignments"
    ng-class="{selected: j == selectedAssignment, hidden: selectedAssignment != null && selectedAssignment != j}">
    <a href="#{{selectedCourse}}/{{j}}">{{j}}</a>
  </li>
</ul>
</div>

<!-- Submissions -->
<div ng-if="selectedAssignment !== null">
<p>SUBMISSIONS:</p>
<ul>
  <li ng-repeat="k in submissions"
    ng-class="{selected: k == selectedSubmission, hidden: selectedSubmission != null && selectedSubmission != k}">
    <a href="#{{selectedCourse}}/{{selectedAssignment}}/{{k}}">{{k}}</a>
  </li>
</ul>
</div>

<hr/>

<div ng-view>
<%= yield %>
</div>

<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js' %>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js' %>
<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js' %>
<%- # TODO: include language-specific syntax highlighting brushes dynamically in angular service %>
<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJava.min.js' %>
<%= javascript_include_tag 'application' %>
</body>
</html>
